/******************/
/* GENERAL LAYOUT */
/******************/

body {
  /* Let the background overscan, but restrict the content to title-safe. */
  font-family:arial, sans-serif;
  font-size:19px;
  max-width:720px;
  max-height:576px;
  color:rgb(60,60,0);
}

.usable {
  position: relative;
  left:62px;
  top:57px;
  width:580px;
  height:460px;
  z-index:-1;
}

.page {
  position:absolute;
  overflow:hidden;
  text-align:left;
  padding-top:12px;
  padding-bottom:12px;
}


/******************/
/* MENU PAGES CSS */
/******************/

.menu {
  background-image: url(../resource/menu.jpg);
  background-repeat:no-repeat;
}

#menu-page1 {
  margin-right:18px;
  top:0px;
  right:50%;
  bottom:45px;
  left:0px;
}

#menu-page2 {
  margin-left:18px;
  top:0px;
  right:0px;
  bottom:45px;
  left:50%;
}

#menu-image-left {
  position:absolute;
  text-align:center;
  left:0px;
  top:0px;
  visibility:hidden;
  z-index:2;
}

#menu-button-left {
  position:absolute;
  text-align:center;
  left:0px;
  top:0px;
  visibility:hidden;
  z-index:2;
}

#menu-button-right {
  position:absolute;
  text-align:center;
  left:0px;
  top:0px;
  visibility:hidden;
  z-index:2;
}

/* NOTE: if "max-width" is specified here in px, it will 
actually be removed from the CSS rules, and will instead be 
enforced dynamically by reducing font-size size to acheive
the desired width. */
.menu-header {
  max-width:220px;
  font-weight:bold;
  font-size:24px;
  text-align:center;
  white-space:nowrap;
}

.menu-header div {
  display:inline;
  height:100%;
  border:1px solid transparent; /* otherwise height is ignored! */
}

.menu-header span {
  vertical-align:middle;
}

/* adjusting for example "book" background image */
#menu-header-left {}

/* adjusting for example "book" background image */
#menu-header-right {
  position:relative;
  left:-20px;
  top:-2px;
}

.hasAudio {}

.custombutton {
  font-weight:bold;
}

.button {
  font-size:20px;
  text-align:center;
}

.navbutton {
  font-size:20px;
  text-align:center;
}


/******************/
/* TEXT PAGES CSS */
/******************/

.text {
  background-image: url(../resource/text.jpg);
  background-repeat:no-repeat;
}

#text-page1 {
  margin-right:18px;
  top:0px;
  right:50%;
  bottom:45px;
  left:0px;
}

/* NOTE: If "visibility:hidden;" is used here, then text 
will be rendered only to page 1, and page 2 will be skipped */
#text-page2 {
  margin-left:18px;
  top:0px;
  right:0px;
  bottom:45px;
  left:50%;
}

#text-image-left {
  position:absolute;
  text-align:center;
  left:0px;
  top:0px;
  visibility:hidden;
  z-index:2;
}

#text-image-right {
  position:absolute;
  text-align:center;
  right:0px;
  top:0px;
  visibility:hidden;
  z-index:2;
}

#text-controls {
  position:absolute;
  text-align:center;
  left:0px;
  top:0px;
  z-index:3;
}

/* NOTE: if "max-width" is specified here in px, it will 
actually be removed from the CSS rules, and will instead be 
enforced dynamically by reducing font-size size to acheive
the desired width. */
.text-header {
  max-width:220px;
  font-weight:bold;
  font-size:24px;
  text-align:center;
  height:30px;
  margin-bottom:35px;
  white-space:nowrap;
}

.text-header div {
  display:inline;
  height:100%;
  border:1px solid transparent; /* otherwise height is ignored! */
}

.text-header span {
  vertical-align:middle;
}

/* adjusting for example "book" background image */
#text-header-left {
  position:relative;
  top:-2px;
}

/* adjusting for example "book" background image */
#text-header-right {
  position:relative;
  left:-20px;
}

.paragraph-start {
  display:inline-block;
  /*height:1em;*/
  width:20px;
}

.book-title {
  color:rgb(100,0,0);
  font-size:24px;
  text-align:left;
  padding-top:10px;
  margin-bottom:-1em;
}

.chapter-title {
  color:rgb(100,0,0);
  font-size:24px;
  text-align:left;
  margin-top:2em;
  margin-bottom:1em;
}

.title-1 {
  color:rgb(100,0,0);
  font-size:19px;
  text-align:center;
  margin-top:1em;
  margin-bottom:1em;
}

.title-2 {
  color:rgb(100,0,0);
  text-align:left;
  margin-top:1em;
}

.majorquote {
  padding-left:24px;
  padding-top:0.5em;
  padding-bottom:0.5em;
}

.list1 {}

.list2 {}

.listitem {
  margin-bottom:1em;
  text-indent:-1em;
  padding-left:1em;
}


/********************/
/* FOOTNOTE RELATED */
/********************/

.footnote {
  margin-top:1em;
  margin-bottom:1em;
}

.fnsymbol:after {
  content: "\00D7 ";
  vertical-align:super;
  font-size-adjust:0.35 !important;
  color:rgb(200,0,0);
}

.verseref {
  color:rgb(100,0,0);
  font-size:19px;
}
