/*@import "my-custom.css";*/

/******************/
/* GENERAL LAYOUT */
/******************/

body {
  /* Let the background overscan, but restrict the content to title-safe. */
  font-family:arial, sans-serif;
  font-size:19px;
  max-width:720px;
  max-height:576px;
  color:rgb(60,60,0);
}
body:not([maskType="none"]) {
  /* this color should contrast with the highlight and select masks
     and should be converted to transparent after screen capture */
  background-color:rgb(0,0,255);
  background-image:none;
}

.usable {
  position: relative;
  left:62px;
  top:57px;
  width:580px;
  height:460px;
  z-index:-1;
}

.page {
  position:absolute;
  overflow:visible;
  text-align:left;
  padding-top:12px;
  padding-bottom:12px;
}

/* make pagebreaks visible when viewed directly in browser */
body:not([pageType]) .pagebreak,
body:not([pageType]) .pagebreak-both {
  display:block;
  clear:both;
  width:calc(100% - 60px);
  height:50px;
  margin:0px 30px 50px 30px;
  border-bottom:2px dashed green;
}
body:not([pageType]) .pagebreak-both {
  width:100%;
  margin:0px 00px 50px 00px;
  border-bottom:2px dashed red;
}


/******************/
/* MENU PAGES CSS */
/******************/

.menu {
  background-image: url(../resource/menu.jpg);
  background-repeat:no-repeat;
}

#menu-page1 {
  margin-right:18px;
  top:0px;
  right:50%;
  bottom:45px;
  left:0px;
}

#menu-page2 {
  margin-left:18px;
  top:0px;
  right:0px;
  bottom:45px;
  left:50%;
}

#menu-image-left {
  position:absolute;
  text-align:center;
  left:0px;
  top:0px;
  visibility:hidden;
  z-index:2;
}

#menu-button-left {
  position:absolute;
  text-align:center;
  left:0px;
  top:0px;
  visibility:hidden;
  z-index:2;
}

#menu-button-right {
  position:absolute;
  text-align:center;
  left:0px;
  top:0px;
  visibility:hidden;
  z-index:2;
}

/* NOTE: if "max-width" is specified here in px, it will 
actually be removed from the CSS rules, and will instead be 
enforced dynamically by reducing font-size to acheive
the desired width. */
.menu-header {
  max-width:220px;
  font-weight:bold;
  font-size:24px;
  text-align:center;
  white-space:nowrap;
  height:30px;
  margin-bottom:35px;
}

.menu-header div {
  display:inline;
  height:100%;
  border:1px solid transparent; /* otherwise height is ignored! */
}

.menu-header span {
  vertical-align:middle;
}

/* adjusting for example "book" background image */
#menu-header-left {}

/* adjusting for example "book" background image */
#menu-header-right {
  position:relative;
  left:-20px;
  top:-2px;
}

.hasAudio {
  position:relative;
  left:12px; /* approx (width-of-audio-icon.png + margin-left)/2 */
}

.hasAudio:after {
  content: url(../resource/audio-icon.png);
  margin-left:7px;
}

.custombutton {
  font-weight:bold;
}

.button {
  font-size:20px;
  text-align:center;
  position:relative;
  left:-12px;
  height:34px;
}
body[maskType="highlight"] .button:after,
body[maskType="select"] .button:after {
  content:url(../resource/menuUnderline-HIGH.png);
  position:absolute;
  text-align:center;
  left:0px;
  top:20px;
  width:100%;
}
body[maskType="select"] .button:after {
  content:url(../resource/menuUnderline-SEL.png);
}
.navbutton {
  font-size:20px;
  text-align:center;
  position:relative;
  height:30px;
  margin-top:36px;
}
.navbutton:before {
  content:url(../resource/menuArrow.png);
  position:absolute;
  text-align:center;
  left:0px;
  top:-7px;
  width:100%;
}
body:not([maskType="none"]) .navbutton:before {
  display:none;
}
#menu-footer-left:before,
#menu-footer-left:after {
  transform:scaleX(-1);
}
.navbutton[buttonType="underline"]:before {
  content:none;
}
body[maskType="highlight"] .navbutton:after,
body[maskType="select"] .navbutton:after {
  content:url(../resource/menuArrow-HIGH.png);
  position:absolute;
  text-align:center;
  left:0px;
  top:-7px;
  width:100%;
}
body[maskType="select"] .navbutton:after {
  content:url(../resource/menuArrow-SEL.png);
}
body[maskType="highlight"] .navbutton[buttonType="underline"]:after,
body[maskType="select"] .navbutton[buttonType="underline"]:after {
  content:url(../resource/menuUnderline-HIGH.png);
  top:20px;
}
body[maskType="select"] .navbutton[buttonType="underline"]:after {
  content:url(../resource/menuUnderline-SEL.png);
}

/******************/
/* TEXT PAGES CSS */
/******************/

.text {
  background-image: url(../resource/text.jpg);
  background-repeat:no-repeat;
}

#text-page1 {
  margin-right:18px;
  top:0px;
  right:50%;
  bottom:45px;
  left:0px;
}

/* NOTE: If "visibility:hidden;" is used here, then text 
will be rendered only to page 1, and page 2 will be skipped */
#text-page2 {
  margin-left:18px;
  top:0px;
  right:0px;
  bottom:45px;
  left:50%;
}

#text-image-left {
  position:absolute;
  text-align:center;
  left:0px;
  top:0px;
  visibility:hidden;
  z-index:2;
}

#text-image-right {
  position:absolute;
  text-align:center;
  right:0px;
  top:0px;
  visibility:hidden;
  z-index:2;
}

body.text:before {
  content:url(../resource/textButtons.png);
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
}
body.text[maskType="highlight"]:before {
  content:url(../resource/textButtons-HIGH.png);
}
body.text[maskType="select"]:before {
  content:url(../resource/textButtons-SEL.png);
}


/* NOTE: if "max-width" is specified here in px, it will 
actually be removed from the CSS rules, and will instead be 
enforced dynamically by reducing font-size to acheive
the desired width. */
.text-header {
  max-width:220px;
  font-weight:bold;
  font-size:24px;
  text-align:center;
  height:30px;
  margin-bottom:35px;
  white-space:nowrap;
}

.text-header div {
  display:inline;
  height:100%;
  border:1px solid transparent; /* otherwise height is ignored! */
}

.text-header span {
  vertical-align:middle;
}

/* adjusting for example "book" background image */
#text-header-left {
  position:relative;
  top:-2px;
}

/* adjusting for example "book" background image */
#text-header-right {
  position:relative;
  left:-20px;
}

.paragraph-start {
  display:inline-block;
  /*height:1em;*/
  width:16px;
}

.book-title {
  color:rgb(100,0,0);
  font-size:24px;
  text-align:left;
  padding-top:10px;
  margin-bottom:-1em;
}

.chapter-title {
  color:rgb(100,0,0);
  font-size:24px;
  text-align:left;
  margin-top:2em;
  margin-bottom:1em;
}

.title-1 {
  color:rgb(100,0,0);
  font-size:19px;
  text-align:center;
  margin-top:1em;
  margin-bottom:1em;
  clear:both;
}

.title-2 {
  color:rgb(100,0,0);
  text-align:left;
  margin-top:1em;
  clear:both;
}

.majorquote {
  padding-left:24px;
  padding-top:0.5em;
  padding-bottom:0.5em;
}

.list1 {}

.list2 {}

.listitem {
  margin-bottom:1em;
  text-indent:-1em;
  padding-left:1em;
}
sup {
  vertical-align:top;
}

/********************/
/* FOOTNOTE RELATED */
/********************/

.footnote {
  margin-top:1em;
  margin-bottom:1em;
}

.fnsymbol:after {
  content: "\00D7 ";
  vertical-align:top;
  font-size-adjust:0.35 !important;
  color:rgb(200,0,0);
}

.verseref {
  color:rgb(100,0,0);
  font-size:19px;
}
