/******************/
/* GENERAL LAYOUT */
/******************/

body {
  /* Let the background overscan, but restrict the content to title-safe. */
  font-family:arial, sans-serif;
  font-size:19px;
  width:720px;
  height:576px;
  color:rgb(60,60,0);
}
body:not([masktype="none"]) {
  /* this color should contrast with the highlight and select masks
     and should be converted to transparent after screen capture */
  background-color:rgb(0,0,255);
  background-image:none;
}
body:not([masktype="none"]):before,
body:not([masktype="none"]) .button div:first-child,
body:not([masktype="none"]) .menu-header {
  visibility:hidden;
}

.usable {
  position: relative;
  left:62px;
  top:57px;
  width:580px;
  height:460px;
  z-index:-1;
}

/* NOTE: if a page has visibility=hidden, then the menu and text renderer
will not write to that page. But images may still appear on those pages
using project.css */
.page {
  position:absolute;
  text-align:left;
  padding-top:12px;
  padding-bottom:12px;
}

/* make pagebreaks visible when viewed directly in browser */
body:not([pagetype]) .pagebreak,
body:not([pagetype]) .pagebreak-both {
  display:block;
  clear:both;
  width:calc(100% - 60px);
  height:50px;
  margin:0px 30px 50px 30px;
  border-bottom:2px dashed green;
}
body:not([pagetype]) .pagebreak-both {
  width:100%;
  margin:0px 00px 50px 00px;
  border-bottom:2px dashed red;
}

/****************************/
/* MENU AND TEXT IMAGES CSS */
/****************************/

/* An overlay image can be placed on any menu or text 
page by adding the following into your project.css file:

body[pagename="name-of-a-page"]:before {
  content:url(an-image-url);
}

You can also have the renderer skip the left or right
half of any page by adding this into your project.css:

body[pagename="name-of-a-page"] #left-page {
  visibility:hidden;
}

or 

body[pagename="name-of-a-page"] #right-page {
  visibility:hidden;
}

*/

body:before {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}

/******************/
/* MENU PAGES CSS */
/******************/

.menu {
  background-image: url(../resource/menu.jpg);
  background-repeat:no-repeat;
}
.menu .page {
  top:0px;
  bottom:45px;
}
.menu #left-page {
  margin-right:18px;
  right:50%;
  left:0px;
}
.menu #right-page {
  margin-left:18px;
  right:20px;
  left:50%;
}

/* NOTE: if "max-width" is specified here in px, it will 
actually be removed from the CSS rules, and will instead be 
enforced dynamically by reducing font-size to acheive
the desired width. */
.menu-header {
  max-width:220px;
  font-weight:bold;
  font-size:24px;
  text-align:center;
  white-space:nowrap;
  height:30px;
  margin:0px auto 35px auto;
}

.menu-header div {
  display:inline;
  height:100%;
  border:1px solid transparent; /* otherwise height is ignored! */
}

.menu-header span {
  vertical-align:middle;
}

/* adjusting for example "book" background image */
#menu-header-left {}

/* adjusting for example "book" background image */
#menu-header-right {
  position:relative;
  top:-2px;
}

.hasAudio {
  position:relative;
  left:14px; /* approx (width-of-audio-icon.png + margin-left)/2 */
}

.hasAudio div:first-child:after{
  content: url(../resource/audio-icon.png);
  margin-left:7px;
}

.custombutton {
  font-weight:bold;
}

.chapter-button-col {
  height:272px; /* 34*8 */
  width:342px; /* 720/2-18 px */
  display:table-cell;
  vertical-align:middle;
}
.button {
  font-size:20px;
  text-align:center;
  height:12.5%; /* 100%/8 buttons */
  overflow:visible;
  white-space:nowrap;
}
#p1b9, #p2b9 {
  margin-top:36px;
}
.button.notarget {
  display:none;
}
.button-mask {
  background-repeat:no-repeat;
  background-position:center; 
  position:relative;
}
.button-mask {
/* this is for menuUnderline images */
  background-image:none;
  height:16px;
  top:-4px;
}
body[masktype="highlight"] .button-mask {
  background-image:url(../resource/menuUnderline-HIGH.png);
}
body[masktype="select"] .button-mask {
  background-image:url(../resource/menuUnderline-SEL.png);
}
.button.arrow .button-mask {
/* this is for menuArrow images */
  background-image:url(../resource/menuArrow.png);
  height:42px;
  top:-32px;
}
#p1b9.arrow .button-mask {
  transform:scaleX(-1);
}
body[masktype="highlight"] .button.arrow .button-mask {
  background-image:url(../resource/menuArrow-HIGH.png);
}
body[masktype="select"] .button.arrow .button-mask {
  background-image:url(../resource/menuArrow-SEL.png);
}


/******************/
/* TEXT PAGES CSS */
/******************/

.text {
  background-image: url(../resource/text.jpg);
  background-repeat:no-repeat;
}
.text .page {
  overflow:auto;
}
.text #left-page {
  margin-right:18px;
  top:0px;
  right:50%;
  bottom:45px;
  left:0px;
}
.text #right-page {
  margin-left:18px;
  top:0px;
  right:0px;
  bottom:45px;
  left:50%;
}

body.text:before {
  content:url(../resource/textButtons.png);
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
}
body.text[masktype="highlight"]:before {
  content:url(../resource/textButtons-HIGH.png);
}
body.text[masktype="select"]:before {
  content:url(../resource/textButtons-SEL.png);
}


/* NOTE: if "max-width" is specified here in px, it will 
actually be removed from the CSS rules, and will instead be 
enforced dynamically by reducing font-size to acheive
the desired width. */
.text-header {
  max-width:220px;
  font-weight:bold;
  font-size:24px;
  text-align:center;
  height:30px;
  margin-bottom:35px;
  white-space:nowrap;
}

.text-header div {
  display:inline;
  height:100%;
  border:1px solid transparent; /* otherwise height is ignored! */
}

.text-header span {
  vertical-align:middle;
}

/* adjusting for example "book" background image */
#text-header-left {
  position:relative;
  top:-2px;
}

/* adjusting for example "book" background image */
#text-header-right {
  position:relative;
  left:-20px;
}

.paragraph-start {
  display:inline-block;
  /*height:1em;*/
  width:16px;
}

.book-title {
  color:rgb(100,0,0);
  font-size:24px;
  text-align:left;
  padding-top:10px;
  margin-bottom:-1em;
}

.chapter-title {
  color:rgb(100,0,0);
  font-size:24px;
  text-align:left;
  margin-top:2em;
  margin-bottom:1em;
}

.title-1 {
  color:rgb(100,0,0);
  font-size:19px;
  text-align:center;
  margin-top:1em;
  margin-bottom:1em;
  clear:both;
}

.title-2 {
  color:rgb(100,0,0);
  text-align:left;
  margin-top:1em;
  clear:both;
}

.majorquote {
  padding-left:24px;
  padding-top:0.5em;
  padding-bottom:0.5em;
}

.list1 {}

.list2 {}

.listitem {
  margin-bottom:1em;
  text-indent:-1em;
  padding-left:1em;
}
sup {
  vertical-align:top;
}

/********************/
/* FOOTNOTE RELATED */
/********************/

.footnote {
  margin-top:1em;
  margin-bottom:1em;
}

.fnsymbol:after {
  content: "\00D7 ";
  vertical-align:top;
  font-size-adjust:0.35 !important;
  color:rgb(200,0,0);
}

.verseref {
  color:rgb(100,0,0);
  font-size:19px;
}
